---
import H1Hero from "../components/typography/H1Hero.astro";
import H2Underline from "../components/typography/H2Underline.astro";
import TextLink from "../components/typography/TextLink.astro";
import Layout from "../layouts/Layout.astro";

const title = "Gewoon Seba | Design";
const description = "Designer with a soft spot for code";
---

<Layout title={title} description={description}>
  <section>
    <H1Hero>Gewoon Seba.</H1Hero>
  </section>
  <section class="max-w-prose space-y-4">
    <p>
      <span class="text-primary">Hey! I'm Seba</span> – I approach design strategically,
      craft beautiful interfaces, and then roll up my sleeves to build what I've
      designed. I believe in sweating the details and the value of great design.
      Currently at{" "}
      <TextLink url="https://www.smooved.be">Smooved</TextLink>
      .{" "}
    </p>
  </section>
  <section>
    <H2Underline> Let&apos;s talk </H2Underline>
    <p class="max-w-prose pt-4">
      Got a cool project in mind? Just want to geek out about design? Drop me a
      line at{" "}
      <TextLink url="mailto:seba@gewoonseba.com?subject=Hi%20👋">
        seba@gewoonseba.com
      </TextLink>{" "}
      or book some time with me on{" "}
      <TextLink url="https://cal.com/gewoonseba/30min">cal.com</TextLink>
    </p>
  </section>
</Layout>
