---
import Layout from "../layouts/Layout.astro";

const title = "Gewoon Seba | Design";
const description = "Designer with a soft spot for code";
---

<Layout title={title} description={description}>
  <section class="py-4">
    <h1
      class="text-huge flex w-full items-center justify-center text-center font-semibold"
    >
      Gewoon Seba
    </h1>
  </section>
</Layout>
