---
import Layout from "../layouts/Layout.astro";

const title = "Gewoon Seba | Design";
const description = "Designer with a soft spot for code";
---

<Layout title={title} description={description}>
  <section class="py-4">
    <h1 class="text-huge text-center w-full font-semibold">Gewoon Seba</h1>
  </section>


  
</Layout>
