---
import H1Hero from "../components/typography/H1Hero.astro";
import H2Underline from "../components/typography/H2Underline.astro";
import TextLink from "../components/typography/TextLink.astro";
import Layout from "../layouts/Layout.astro";

const title = "Gewoon Seba | Design";
const description = "Designer with a soft spot for code";
---

<Layout title={title} description={description}>
  <section>
    <H1Hero>Gewoon Seba.</H1Hero>
  </section>
  <section class="max-w-prose space-y-4">
    <p>
      Hi there, I&apos;m Seba. I design things and I build things. Currently at{
        " "
      }
      <TextLink url="https://www.smooved.be">Smooved</TextLink>
      .{" "}
    </p>
    <p>
      I combine visual design with hands-on prototyping to craft beautiful
      digital products that work. I believe in sweating the details and letting
      great work speak for itself.
    </p>
  </section>
  <section>
    <H2Underline> Let&apos;s talk </H2Underline>
    <p class="max-w-prose pt-4">
      For any inquiries, send me an e-mail over at{" "}
      <TextLink url="mailto:seba@gewoonseba.com?subject=Hi%20👋">
        seba@gewoonseba.com
      </TextLink>{" "}
      or book a meeting with me on{" "}
      <TextLink url="https://cal.com/gewoonseba/30min">cal.com</TextLink>
    </p>
  </section>
</Layout>
