---
const { url } = Astro.props;
---

<a
  href={url}
  class="text-secondary hover:text-primary decoration-secondary hover:deco whitespace-nowrap underline decoration-dotted transition-all duration-150 hover:decoration-solid"
>
  <slot />
  <span>↗</span>
</a>
