---
import Footer from "../components/nav/Footer.astro";
import Navbar from "../components/nav/Navbar.astro";
import "../styles/global.css";

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body
    class="bg-primary text-primary max-w-screen-3xl 3xl:mx-auto min-h-dvh px-4 text-base md:px-8"
  >
    <Navbar />
    <slot />
    <Footer class="sticky top-full" />
  </body>
</html>
