---
import NavLinks from "./NavLinks.astro";
import SocialLinks from "./SocialLinks.astro";

const { class: className } = Astro.props;

const year = new Date().getFullYear();
---

<footer
  class:list={[
    className,
    "grid w-full grid-cols-1 justify-items-center gap-1 pb-2 md:grid-cols-3",
  ]}
>
  <NavLinks class="md:justify-self-start" />
  <p class="uppercase-tight">
    © {year}
    <span class="whitespace-nowrap">Gewoon Seba</span>
  </p>

  <SocialLinks class="md:justify-self-end" />
</footer>
